body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
}

.topDiv {
  background-color: deepskyblue;
  position: relative;
  padding-top: 70px;
}

.middleDiv {
}

.bottomDiv {
}

.pro {
  text-decoration: underline;
}

.topCloud {
  position: absolute;
  right: 450px;
  top: 15px;
}

.bottomCloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}
