body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.0rem;
  font-family: 'Sacramento', cursive;
  margin: 30px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-size: 1.2rem;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: white;
  position: relative;
  padding-top: 70px;
}

.middle-container {
}

.bottom-container {
}

.pro {
  font-weight: normal;
  text-decoration: underline;
}

.topCloud {
  position: absolute;
  right: 450px;
  top: 15px;
}

.bottomCloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}
