body {
  margin: 0;
}

h1 {
  margin: 0;
}


.topDiv {
  background-color: white;
}
.middleDiv {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.bottomDiv {
  background-color: red;
  height: 200px;
  width: 200px;
}
